#carousel {
    height: 80vh;
    margin: 30px 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    width: auto !important;
    height: 80vh !important;
}

.collection-text {
    width: 100% !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.collection-text h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.collection-text p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 13px;
}

.collection-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.video-martha {
    width: 72vw;
}

.center-abt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stick-hero{
    position: sticky;
    top: 0;
    transition: all .5s;
}
.scroll-hero{
    transform: translate3d(0, -100%, 0);
    transition: all .8s;
}

/* .sticky-quote{
    background-color: white;
    position: sticky;
} */

.hero-position {
    height: 94vh;
    overflow: hidden;
}

.hero-position .logo-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#mainNav {
    position: fixed;
    top: 0;
    width: 100%;
}

.content_fixed {
    opacity: 1;
    transition: all .4s;
}

.content_remove {
    opacity: 0;
    transition: all .2s;
}
.content .name h1{
    text-transform: uppercase;
}
@media (min-width: 768px) {
    #carousel {
        height: 90vh;
    }

    .swiper-slide {
        height: 90vh !important;
    }

    .video-martha {
        width: 70vw;
    }

    .collection-text {
        width: 60% !important;
        height: 100% !important;
        /* margin: 30px; */

        padding-right: 30px;
    }

    .collection-text h1 {
        font-size: 40px;
        line-height: 45px;
        text-transform: uppercase;
    }

    .collection-text p {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (min-width: 992px) {
    #carousel {
        height: 90vh;
    }

    .collection-text {
        width: 60% !important;
        margin: 30px;
        padding-right: 30px;
        /* border-left: 1px solid black; */
    }

    .collection-text h1 {
        font-size: 50px;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .collection-text p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
    }
}

@media (min-width: 1400px) {
    /* .collection-text {
        width: 60% !important;
    } */

}

.wrapThis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
}